@each $name, $color in $colors {
	#adjacent.#{$name} { 
		div:nth-of-type(1) { background: desaturate($color, 10)}
		div:nth-of-type(2) { background: adjust-hue($color, 45deg) }
		div:nth-of-type(3) { background: adjust-hue($color, 90deg) }
		div:nth-of-type(4) { background: adjust-color($color, $hue:90deg, $saturation:-30%, $lightness:30%);}
		div:nth-of-type(5) { background: adjust-color($color, $hue:45deg, $saturation:-30%, $lightness:-20%);  }
	}
}