@each $name, $color in $colors {
	#complementary.#{$name} { 
		div:nth-of-type(1) { background: $color; }
		div:nth-of-type(2) { background: adjust-color($color, $saturation:-10%, $lightness:40%)  }
		div:nth-of-type(3) { background: complement($color) }
		div:nth-of-type(4) { background: lighten(complement($color), 20);}
		div:nth-of-type(5) { background: adjust-color($color, $saturation:-30%, $lightness:-20%) }
	}
}