@each $name, $color in $colors {	
	#inverted.#{$name} { 
		div:nth-of-type(1) { background: darken($color, 30) }
		div:nth-of-type(2) { background: adjust-hue(invert($color), 30)  }
		div:nth-of-type(3) { background: invert($color); }
		div:nth-of-type(4) { background: darken(invert($color), 20);}
		div:nth-of-type(5) { background: darken(desaturate(invert($color), 30), 30); }
	}
}