@each $name, $color in $colors {
	#rainbow.#{$name} {
		div:nth-of-type(1) { background: $color}
		div:nth-of-type(2) { background: adjust-hue($color, 36deg) }
		div:nth-of-type(3) { background: adjust-hue($color, 72deg) }
		div:nth-of-type(4) { background: adjust-hue($color, 108deg)  }
		div:nth-of-type(5) { background: adjust-hue($color, 144deg) }
	}
}