@each $name, $color in $colors {
	#vibrant.#{$name} { 
		div:nth-of-type(1) { background: saturate($color, 30); }
		div:nth-of-type(2) { background: saturate(adjust-hue(invert($color), 30), 30)  }
		div:nth-of-type(3) { background: complement(saturate($color, 30)) }
		div:nth-of-type(4) { background: saturate(lighten(complement($color), 20), 30);}
		div:nth-of-type(5) { background: darken(saturate($color, 50), 20); }
	}
}